.actions {
  position: relative;
  cursor: pointer;
  &:hover {
    .actions_menu {
      visibility: visible;
      padding: 10px 0;
      .menu_link {
        display: flex;
      }
    }
  }

  .actions_menu {
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    background-color: #292929;
    right: 0px;
    border-radius: 8px;
    width: 220px;
    transition: all 0.3s;
    .menu_link {
      display: none;
      flex-direction: column;
      padding: 5px 0px 5px 13px;
      width: 207px;
      color: #e1e3e6;
      font-family: Roboto;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      &:hover {
        background-color: #515151;
      }
    }
  }
}
