.news {
  position: relative;
  display: flex;
  margin-left: 5px;
  max-width: 930px;
  width: 100%;
  gap: 20px;
  .wide_column {
    width: 560px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .narrow_column {
    position: sticky;
    height: 50px;
    top: 4.25em;
    width: 345px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
